@import url("https://fonts.googleapis.com/css?family=Montserrat");
button {
  outline: none !important;
  border: none; }

button:hover {
  cursor: pointer;
  background-color: #e65540; }

.button {
  background-color: #111111;
  border-radius: 23px;
  width: 100%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase; }

/*# sourceMappingURL=Button.css.map */
