@import url("https://fonts.googleapis.com/css?family=Montserrat");
.showcase {
  display: flex; }
  .showcase .showcaseProduct {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center; }
    .showcase .showcaseProduct .showcaseImage {
      width: 110%; }
    .showcase .showcaseProduct .productName {
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      padding-bottom: 5px; }
      .showcase .showcaseProduct .productName a {
        text-decoration: none;
        color: #555555; }
    .showcase .showcaseProduct span {
      color: #555555; }

img {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=Showcase.css.map */
