@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bgButton: #111111;
$bgButtonHover: #e65540;

button {
  outline: none !important;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: $bgButtonHover;
}

.button{
  background-color: $bgButton;
  border-radius: 23px;
  width: 100%;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
}