@import url("https://fonts.googleapis.com/css?family=Montserrat");
.cartItem {
  width: 100%;
  display: flex;
  horiz-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif; }
  .cartItem .cartTable {
    border: 0.5px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center; }
  .cartItem img {
    width: 72px;
    height: 100px; }
  .cartItem table {
    width: 80%;
    text-align: center; }
    .cartItem table td {
      width: 200px; }
    .cartItem table Input {
      width: 50px;
      height: 40px;
      text-align: center;
      border: 0.5px solid #c4c4c4;
      border-radius: 2px;
      font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=Cartitem.css.map */
