@import url('https://fonts.googleapis.com/css?family=Montserrat');

$formBorder: #c4c4c4;

.cart{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;


  .cartForm{
    width: 75.8999%;
    padding: 10px;
    box-sizing: border-box;

    border: 0.5px solid $formBorder;


    form {
      display: flex;
      justify-content: space-around;
      align-items: center;

      Input{
        width: 250px;
        height: 40px;
        margin: 20px;
        border: 1px solid $formBorder;
        border-radius: 2px;
        text-align: center;
      }
    }
    Button{
      width: 200px;
    }
  }
}

.checkout{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}