@import url('https://fonts.googleapis.com/css?family=Montserrat');

$border: #c4c4c4;

.cartItem{
  width: 100%;
  display: flex;
  horiz-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;


  .cartTable{
    border: 0.5px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    width: 72px;
    height: 100px;
  }

  table{
    width: 80%;
    text-align: center;


    td{
      width: 200px;
    }

    Input{
      width: 50px;
      height: 40px;
      text-align: center;
      border: 0.5px solid $border;
      border-radius: 2px;
      font-family: 'Montserrat', sans-serif;
    }

  }
}