@import url("https://fonts.googleapis.com/css?family=Montserrat");
.cart {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif; }
  .cart .cartForm {
    width: 75.8999%;
    padding: 10px;
    box-sizing: border-box;
    border: 0.5px solid #c4c4c4; }
    .cart .cartForm form {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .cart .cartForm form Input {
        width: 250px;
        height: 40px;
        margin: 20px;
        border: 1px solid #c4c4c4;
        border-radius: 2px;
        text-align: center; }
    .cart .cartForm Button {
      width: 200px; }

.checkout {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

/*# sourceMappingURL=Cart.css.map */
