@import url('https://fonts.googleapis.com/css?family=Montserrat');

$border: #c4c4c4;

.itemCheckout{
  width: 35%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 165px;
  border: 1px solid $border;
  padding: 0 40px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;

  h5{
    font-size: 1.6em;
    text-align: left;
    width: 100%;
  }

  .subtotal,
  .send{
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  select,
  Input{
    width: 100%;
    height: 40px;
    background: none;
    margin-top: 20px;
    border: 0.5px solid $border;
    border-radius: 2px;
    text-align: center;
  }

  Button{
    margin-top: 20px;
  }

  .left,
  .right{
    width: 50%;
  }

  .total{
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 30px;
  }



}