@import url("https://fonts.googleapis.com/css?family=Montserrat");
.itemCheckout {
  width: 35%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 165px;
  border: 1px solid #c4c4c4;
  padding: 0 40px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif; }
  .itemCheckout h5 {
    font-size: 1.6em;
    text-align: left;
    width: 100%; }
  .itemCheckout .subtotal,
  .itemCheckout .send {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
  .itemCheckout select,
  .itemCheckout Input {
    width: 100%;
    height: 40px;
    background: none;
    margin-top: 20px;
    border: 0.5px solid #c4c4c4;
    border-radius: 2px;
    text-align: center; }
  .itemCheckout Button {
    margin-top: 20px; }
  .itemCheckout .left,
  .itemCheckout .right {
    width: 50%; }
  .itemCheckout .total {
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 30px; }

/*# sourceMappingURL=Checkout.css.map */
