@import url('https://fonts.googleapis.com/css?family=Montserrat');

$menuColor: #333333;
$bgMenu: #ffffff;
$borderMenu: #7d7d7d;


.menu{
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap:nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: $menuColor;
  border-bottom: 0.5px solid #c4c4c4;
  margin-bottom: 50px;
  box-shadow: 0px 2px 40px -12px rgba(130,130,130,1);

  .logo{
    margin-left: 2%;
    width: 20%;
    height: 100%;
  }

  .menuList{
    width: 75%;
    text-align: center;


    nav{
      margin-top: 5px;
      ul{
        display: inline-flex;
        list-style: none;
        li{
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }
  .bag{
    width: 15%;
    text-align: center;

    img{
      width: 20px;
      height: 30px;
      margin-top: 15px;
    }
  }

}

