@import url("https://fonts.googleapis.com/css?family=Montserrat");
.menu {
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  color: #333333;
  border-bottom: 0.5px solid #c4c4c4;
  margin-bottom: 30px;
  box-shadow: 0px 2px 40px -12px #828282; }
  .menu .logo {
    width: 15%;
    height: 100%; }
  .menu .menuList {
    width: 75%;
    text-align: center; }
    .menu .menuList nav {
      margin-top: 5px; }
      .menu .menuList nav ul {
        display: inline-flex;
        list-style: none; }
        .menu .menuList nav ul li {
          margin-right: 20px;
          margin-left: 20px; }
  .menu .bag {
    width: 15%;
    text-align: center; }
    .menu .bag img {
      width: 20px;
      height: 30px;
      margin-top: 15px; }

/*# sourceMappingURL=Menu.css.map */
