@import url('https://fonts.googleapis.com/css?family=Montserrat');

$productColor: #555555;
$font: 'Montserrat', sans-serif;


.showcase{
  display: flex;

  .showcaseProduct{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;

    .showcaseImage{
      width: 110%;
    }

    .productName{
      width: 100%;
      font-family: $font;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      padding-bottom: 5px;

      a{
        text-decoration: none;
        color: $productColor;
      }
    }

    span{
      color: $productColor;
    }
  }
}


img{
  width: 100%;
  height: 100%;
}

.img-showcase:hover {
  background-color: #1b1e21;
}
